{% extends "App/padre.html" %}
{% load static %}
{% block titulo %}
    <title>Final - Crear ubicación</title>
{% endblock %}
{% block titulo_de_pagina %}
    <h1 class="titulotemplates">Creá tu ubicación</h1>
{% endblock %}
{% block contenido_variable %}
    <div class="contenedor_form" >
        <h2 class="tituloform">Llená los siguientes espacios:</h2>
        <form class="formularios" action="{% url 'ubicacionformulario' %}", method="POST"> {% csrf_token %}
            <table>
                {{ formulario.as_table }}
            </table>
            <input class="submitcrear" type="submit", value="CREAR UBICACIÓN">  
        </form>
    </div>  
    <a class="btn_volver" href="{% url 'crear' %}">Volver a Crear</a>
{% endblock %}